<div class="dropdown" [ngClass]="{ 'show-menu': showUserMenu }">
    <button (click)="toggleUserMenu()" (focusout)="hideUserMenu()" class="btn btn-secondary dropdown-toggle user-button">
      <i class="oi oi-person"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <ng-container *ngIf="isLoggedIn; else unauthorizedMenu">
        <a href="profile" class="dropdown-item">Profile</a>
        <a href="orders" class="dropdown-item">Orders</a>
        <hr />
        <!-- <admin-menu></admin-menu> -->
        <button class="dropdown-item" (click)="logout()">Logout</button>
      </ng-container>
      <ng-template #unauthorizedMenu>
        <a [routerLink]="['/login']" [queryParams]="{ returnUrl: createRelativeUrl() }" class="dropdown-item">Login</a>
        <a href="register" class="dropdown-item">Register</a>
      </ng-template>
    </div>
  </div>