<div *ngIf="products == null || products.length === 0">
    <span>{{ productService.message }}</span>
  </div>
  <div *ngIf="products && products.length > 0">
    <ul class="list-unstyled">
      <li class="media my-3" *ngFor="let product of products">
        <div class="media-img-wrapper mr-2">
          <a href="/product/{{ product.id }}">
            <img class="media-img" [src]="product.imageUrl" [alt]="product.title">
          </a>
        </div>
        <div class="media-body">
          <a href="/product/{{ product.id }}">
            <h4 class="mb-0">{{ product.title }}</h4>
          </a>
          <p>{{ product.description }}</p>
          <h5 class="price">
            {{ getPriceText(product) }}
          </h5>
        </div>
      </li>
    </ul>
    <ng-container *ngFor="let i of getPageNumbers()">
      <a class="btn"
         [ngClass]="{ 'btn-info': i === productService.currentPage, 'btn-outline-info': i !== productService.currentPage, 'page-selection': true }"
         [href]="'/search/' + productService.lastSearchText + '/' + i">{{ i }}</a>
    </ng-container>
  </div>