<div class="page">
    <main>
        <div class="top-row px-2">
            <app-home-button></app-home-button>
            <app-search style="width:80%"></app-search>
            <app-user-button></app-user-button>
            <!-- <app-cart-counter>  </app-cart-counter> -->
        </div>

        <div class="nav-menu">
            <app-shop-nav-menu></app-shop-nav-menu>
        </div>

        <article class="content px-2">
            <router-outlet></router-outlet>
        </article>
    </main>
</div>